# Dependencies
node_modules/

# Build
dist/
build/

# Environment
!.env.example

# Logs & debug
npm-debug.log*
pnpm-debug.log*
*.log

# OS & editor
.DS_Store
.idea/
.vscode/

# Vite
*.local
config.bat
